{% extends 'base.html.twig' %}
{% block title %}Aventurier {{ app.user.name }}{% endblock %}
{% block body %}
    <div class="container h-100">
        <h1 class="text-center">Bienvenue {{ app.user.name }}</h1>
        <div class="d-flex flex-row justify-content-center mb-2">
            <a class="btn btn-primary" href="{{ path('asset_new') }}">Ajouter un trésor</a>
        </div>
    </div>
{% endblock %}
